// Add any custom base CSS can go here


// Foundation
// =≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠
html {
  @apply antialiased tracking-wide ;
  font-size: 13.5px;
/*   font-size: 13px;
 */  text-rendering: optimizeLegibility; 
  @apply font-roboto #{!important}; 

  @screen sm {
    font-size: 14px;
  }
  @screen md {
    font-size: 16.5px;
  }
}
 
// Anchors
// =≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠
a { 
  transition: all 0.24s ease;
} 
h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}
h4, h5 {
  @apply text-sm;
}
 

// Other
// =≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠
p,ul,ol{
  @apply my-2;
}
 