:root{
    // Colors
    --primary:#de496e;
    --secondary:#de496e;
    --header-height: 100px;
    @screen maxmd {
        --header-height: 80px;
    }
    @screen maxsm {
        --header-height: 60px;
    }
 
}

$primary:#de496e;
$secondary:#de496e;
 

.container{
@apply m-auto;
}