
@import "~tailwindcss/base"; 
@import "~tailwindcss/components";  
@import "~tailwindcss/utilities";  
// Custom styles 
// @import "../font/font"; 
@import "partials/base";
@import "partials/variables";
@import "partials/hacks"; 
@import "lib/mixins";  

@import "components/card";
@import "components/button";
@import "components/product";
@import "components/pagination";

@import "components/search-form"; 
@import "components/input"; 
@import "components/marcas-filter"; 

@import "layout/header"; 
@import "layout/footer"; 

// @import "pages/front-page"; 
@import "pages/cart"; 
@import "pages/checkout"; 
@import "pages/single-product"; 
// @import "pages/celebration"; 
// @import "pages/page"; 

