 
.woocommerce,main{
    input, textarea {
        @apply  text-gray-700 border border-gray-300 rounded py-3 px-4 leading-6;
    

        &:focus {
            @apply border-gray-500 bg-white outline-none ;
        }
    }
    .select2-selection--single{
        @apply  text-gray-700 border border-gray-300 rounded py-3 px-4   #{!important} ;
        height: 48px !important; 
       
        .select2-selection__rendered{
            line-height: 20px !important; 
        }
        .select2-selection__arrow{
            height: 48px !important;
        }

    }
}
 