/* Cart Icon */
.cart{ 
    &-customlocation{ 
        @apply bg-transparent relative block h-full flex items-center ;
        @screen maxmd{
            @apply w-16 justify-center;
        }
    }
    &-icon{
        @apply text-primary-500 fill-current  w-10 h-10 ;
        @screen maxmd{
            @apply w-12 h-12 ;
        }
    }
    &-count{
        @apply absolute inline-flex items-center justify-center  bg-primary-500 w-6 h-6 text-white rounded-full  text-sm; 
        top: 0px;
        right: 20px;
        @screen maxmd{
            right: 24px;
        }
    }
    &-close{
        @apply w-8 absolute text-primary-500 fill-current z-10 cursor-pointer ;
        top: 8px;
        right: 14px;
    }

}

/* Mini cart */
 /* purgecss start ignore */ 
.widget_shopping_cart{ 
    @apply max-w-md  shadow-md rounded-md px-2 pb-4 pt-6 absolute w-full bg-white z-50 hidden border-t border-gray-200 ;
    right:20px;
    top:var(--header-height);    
    @screen maxsm {   
        @apply max-w-full right-0 left-0 rounded-t-none ;  
    } 
    &-active{
        @apply block;
    }
    &::before{
        content: '';
        @apply absolute w-full h-4 right-0   ;
        top:-10px

    }
    .widget_shopping_cart_content{ 
        ul{ 
            @apply  grid grid-cols-1 ; 

            li{
                @apply  grid grid-cols-8 items-center gap-4 rounded-md py-4 px-4 border-b border-gray-100; 
                &:hover{
                    @apply bg-gray-100;
                }
              
                a{ 
                    &.remove_from_cart_button{ 
                        @apply col-span-1 flex items-center justify-center text-transparent rounded-full  w-10 h-10  ;
                        &:hover{
                            @apply bg-gray-200;
                            @include animation;
                        }
                        &::before{
                            content: '';
                            @apply absolute w-6 h-6 ; 
                            background-image: url(../svg/remove.svg);
                            background-size: 100%;
                        }
                      
                    } 
                   &:nth-child(2){
                        @apply col-span-5 flex items-center text-sm  ;
                        img{
                            @apply mr-3 w-10;
                        }
                   } 
                }
                & .quantity{
                    @apply col-span-2 text-right text-sm ;
                }
            }
        }
        .woocommerce-mini-cart{
            &__total{
                @apply mt-6 text-right px-4 mb-6;
            }
            &__buttons{
                @apply grid grid-cols-2 gap-5 px-4 ;
                .button{ 
                    &:nth-child(1){ 
                        @include btnOutline; 
                    }
                    &.checkout{ 
                        @include btn;
                    } 
                    
                }
            } 
            &__empty-message{
                @apply px-4;
            }
        } 
       
    } 
}
 
/* purgecss end ignore */