
.footer{
    &-social{   
        @apply flex flex-no-wrap m-0 ;
        @screen  maxsm{
            @apply justify-center ; 
        }
        li{ 
            @apply mx-1 text-white flex justify-center items-center; 
            width: 60px; 
            height: 60px; 
            @screen  maxsm{
                font-size: 25px; 
                width: 40px; 
                height: 40px; 
            } 
            a{
                @apply w-full h-full ;   
            }
        }  
     }
    &-info{
        p{
            @apply text-white text-xs font-medium text-justify text-gray-400 tracking-wider;
        }
    }
}