.header{
    @apply relative bg-white ; 
    &-wrap{
    @apply relative ; 

    } 
    &-wrap::before { 
        content: '';
        @apply absolute z-30 bg-white  w-full h-full  block;
        left: 0;
        right: 0;
        top: 0; 
        bottom: 0;   
        @screen md{
            @apply  hidden;
        }
    }
   
    &-logo{ 
        @apply flex items-center z-50 relative ;
        img{
            width: 14em;
        }
    }
    &-nav{
           @apply  h-full  justify-start opacity-0 absolute hidden; 
           @screen md{
                @apply flex opacity-100 relative block;
           }
    }
    
    &-menu,& > ul{
        @apply flex m-0 h-full relative flex-no-wrap ; 
        
        &>.menu-item, & > li{
              @apply block ml-6 ;
              @screen maxlg {
                @apply ml-3  ;
              }
              &:hover .sub-menu{
                  display: block;
              }
              &:hover  a::before{
                @apply block; 
              }
           & > a{
                @apply block h-full flex items-center text-black relative font-semibold text-xs; 
                &::before{
                    content: '';
                    @apply bg-secondary-500 absolute hidden;
                    width: 100%;
                    height: 3px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 8px 8px 0 0; 
                }
            }
           & >.sub-menu{
                @apply absolute bg-white z-20 overflow-hidden shadow py-3 ;
                border-radius:0 6px 6px 6px ; 
                max-width: 430px;
                top:32px; 
                display: none;
                li{
                    a{
                       @apply text-black py-2 px-6 block  text-sm;

                    }
                }
            }
        } 
        & .current-menu-item{
            a::before{
                @apply block #{!important}; 
           }
        }
    }
}

.mobile{  
    &-nav{
        @apply w-full mt-14 ;

         @screen md {
             @apply hidden;
         }
        &-wrap{
            @apply absolute w-full px-2 py-3 z-20 ;
            background: rgba(white, 0.90);
            @screen maxmd { 
                left: 0;
                top: 120px;
                transform: translateY(-80em);
                transition: all .6s cubic-bezier(0, 0.88, 1, 1);
                opacity: 0;
                @apply h-screen;  
            } 
            @screen maxsm { 
                top: 84px;
            } 
            @screen md{
                @apply relative w-auto px-0 py-0  ;
                top:0;
            } 
        }

    }
    &-menu{ 
        @apply block;
        @screen lg{
            @apply  hidden;
        }
        li{ 
            a{
                @apply py-3 text-black block text-center text-base font-bold ; 
                border-bottom: 1px solid rgba(white, 0.1);  
                &:hover{
                 @apply underline ; 
                    
                }
            } 
             &:last-child > a{
                     border-bottom: none; 
             } 
        }
       
    }
}


// Toggle

.nav {   
    &-active { 
        transform: translateY(0);
        opacity: 1; 
        display: block;
    }  
    &-toggle {
        &-wrap { 
            height: 28px; 
            @apply relative z-50 mr-2 ;
            @screen maxmd {
                 transform: scale(.8) translateX(9px);
            }
        } 
        width: 40px;
        height: 28px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer; 
        box-shadow: 0 0 0 6px var(--secondary);
        @apply bg-secondary-500 ; 
        span {
            @apply bg-white ;
            display: block;
            position: absolute;
            height: 5px;
            width: 50%; 
            opacity: 1;
            transform: rotate(0deg);
            transition: .25s ease-in-out; 
            &:nth-child(even) {
                left: 50%;
            }

            &:nth-child(odd) {
                left: 0px;
            }

            &:nth-child(1),
            &:nth-child(2) {
                top: 0px;
            }

            &:nth-child(3),
            &:nth-child(4) {
                top: 10px;
            }

            &:nth-child(5),
            &:nth-child(6) {
                top: 20px;
            }
        }

        &.nav-toggle-active {
            span {

                &:nth-child(1),
                &:nth-child(6) {
                    transform: rotate(45deg);
                }

                &:nth-child(2),
                &:nth-child(5) {
                    transform: rotate(-45deg);
                }

                &:nth-child(1) {
                    left: 5px;
                    top: 7px;
                }

                &:nth-child(2) {
                    left: calc(50% - 5px);
                    top: 7px;
                }

                &:nth-child(3) {
                    left: -50%;
                    opacity: 0;
                }

                &:nth-child(4) {
                    left: 100%;
                    opacity: 0;
                }

                &:nth-child(5) {
                    left: 5px;
                    top: 16px;
                }

                &:nth-child(6) {
                    left: calc(50% - 5px);
                    top: 16px;
                }
            }
        }
    } 
    .menu {
        &-item:last-child a {
            border-right-color: transparent;
        } 
    }

}

