.woocommerce-account.logged-in{
 .woocommerce{
     @apply grid grid-cols-5  gap-6 mt-8  mb-8; 
    .woocommerce-MyAccount-navigation{
        @apply col-span-5 ; 
        @screen md{
            @apply  col-span-1; 
        }
        ul{
            @apply   border border-gray-400 p-6 my-0;  
            li{
                @apply  border-b  border-gray-400 leading-10 ;  
            }
            li:last-child{
                @apply  border-b-0 ; 

            }
        }
    }
    .woocommerce-MyAccount-content{
        @apply col-span-5 ; 
        @screen md{
            @apply  col-span-4; 
        }  
        .woocommerce-orders-table.shop_table{
            @apply w-full ; 
            @screen maxsm {
               @apply block;  
                 
            }
            thead{ 
                @screen maxsm {
                    @apply  hidden ;   
                 }
                tr{
                    th{
                        @apply  py-4 text-left px-4  ;

                    }
                }
            }
            tbody{
                @apply  pt-6 ;
                @screen maxsm {
                    @apply block; 
                      
                 }
                tr{
                    @apply  border-t border-gray-400 ;
                    @screen maxsm {
                        @apply  block ;  
                          
                     }
                    td{
                        @apply p-4 ; 
                        @screen maxsm {
                            @apply  block text-right  ; 
                             
                         }
                         &.woocommerce-orders-table__cell-order-actions{
                             a{
                                @apply  mr-2 py-1 px-3 rounded-full border border-gray-300;
                                @screen maxsm {
                                    @apply  mr-0 ; 
                                
                                }
                             }
                         }
                        &.actions{
                            @apply text-right;

                            .coupon{ 
                                @apply float-left hidden;
                                @screen maxsm {
                                    @apply  float-none ;   
                                 }
                                 input{
                                    @screen maxsm {
                                        @apply  block mb-3 w-full ;   
                                     }
                                 }
                                label{
                                    @apply absolute ;  
                                    clip: rect(1px, 1px, 1px, 1px); 
                                    clip-path: inset(50%);
                                }
                                .button{
                                    @apply  text-white leading-6;
                                     background: rgba($primary,0.70) ;

                                }
                            }
                            .button{ 
                                @apply  text-white leading-6;
                                background: rgba($primary,0.70) ;
                                @screen maxsm {
                                    @apply  mt-2 ;   
                                 }
                            }
                        }

                    }
                }

            }
            
            & tr td[data-title]::before{
                @screen maxsm {
                    content: attr(data-title) ": ";
                    font-weight: 600;
                    float: left;  
                }
            }
         } 
        .woocommerce-EditAccountForm.edit-account{
            @apply grid grid-cols-1 col-gap-8  ;
            .clear{
                @apply  hidden ; 

            }
            @screen sm{
                @apply  grid-cols-2; 
            }
            .form-row{
                @apply my-0 ; 
                label{
                    @apply pb-1 inline-block; 
                }
            }
            label{
                @apply pb-1 pt-4 inline-block; 
            }
            .input-text {
                @apply w-full block;
                font-family: Roboto;

            }
            fieldset{
                @apply p-0; 
            }
        }
        .woocommerce-Addresses {
            @apply grid grid-cols-1 row-gap-6 ;  
            h3{
             @apply mb-2 ; 
                
            }
            a{
                @apply  mr-2 py-1 px-3 rounded-full border border-gray-300;

            }
        }
    } 
 }
}