.marcas{
    &-item{
        
    }
    &-logo{
        @apply border-2 border-yellow-400 p-4 inline-flex items-center justify-center h-26  w-full ; 
        @screen sm {
            @apply h-50;
        }
    }
    &-image{
        @apply relative flex justify-center mt-3;
        @screen maxsm {
            @apply  block;
        }
        img{
            @apply w-full;
        }
        p{
            @include btn;
            @apply  font-pigeon tracking-widest absolute bottom-0 mb-10; 
            @screen maxmd {
                @apply  mb-5; 
            }
            @screen maxsm {
                @apply w-full px-2 mb-2 relative;
                font-size: 0.7rem;
            }
        }
    }   
}
.legal{
    letter-spacing: 14px;
    color: #1D1D1B;
}

/* body{
   overflow-y: hidden;
} */
.overlay{ 
    z-index: 800000;
    &-body{
        
    }
    img{
        max-width: 758.9146px;
        @media (max-width:1700px){
            max-width: 600px; 
        }
        @media (max-width:1366px){
            max-width: 560px; 
        }
        @screen maxl{
             max-width: 500px; 
        }
    }
}
