.marcas{
    &-item{
        
    }
    &-logo{
        @apply border-2 border-yellow-400 p-4 inline-flex items-center justify-center h-26  w-full ; 
        @screen sm {
            @apply h-50;
        }
    }
    &-image{
        @apply relative flex justify-center;
        @screen maxsm {
            @apply  block;
        }
        p{
            @include btn;
            @apply  font-pigeon tracking-widest absolute bottom-0 mb-10; 
            @screen maxmd {
                @apply  mb-5; 
            }
            @screen maxsm {
                @apply w-full px-2 mb-2 relative;
                font-size: 0.7rem;
            }
        }
    }   
}
.legal{
    letter-spacing: 14px;
    color: #1D1D1B;
}

