.woocommerce-order-received{
    .woocommerce{
        @apply max-w-xl m-auto;
        .woocommerce-notice--success {
            @apply py-2 px-3 bg-success text-white rounded ;

        }
        &-order-overview{
            @apply  border border-gray-300 mt-8 mb-2 mb-0 ;
            li{
                @apply  border-b border-gray-200 py-3 px-3  ;
            }
        }
       &-order-details{
           @apply mt-8;
       }
       h2{
        @apply mt-8 mb-2;

       }
        &-table{
            @apply  w-full ; 

            thead{
            tr{
                th{
                    &.product-name{
                        @apply  text-left ;
                    }
                    &.product-total{
                        @apply  text-right ; 
                    }
                } 
            }            
            }
            tbody{
            & > tr{ 
                    @apply  border-b border-t border-gray-400 leading-10 ; 
                    td{
                        &.product-name{
                            @apply  text-left ;
                            a{
                                @apply font-semibold;
                            }
                        }
                        &.product-total{
                            @apply  text-right ; 
                        } 
                    }
                    &.order-total{
                        td{
                            .woocommerce-Price-amount{
                                @apply font-semibold text-xl text-primary-500 ;  
                            }
                        }
                    }
                }
            }
            tfoot{
                @apply   pt-4 ;  
                & > tr{ 
                    @apply  border-b border-t border-gray-400 ;
                    line-height: 3.5em; 
                     th{
                        @apply   text-left ; 

                     }
                    td{
                        @apply  text-right ;  
                    }
                    &.order-total{
                        th{
                            @apply uppercase ;  
                        }
                        td{
                            .woocommerce-Price-amount{
                                @apply font-semibold text-xl text-primary-500 ;  
                            }
                        }
                    }
                } 
            }  
        }
    }
}