.single{
    &-product{
        .content-area{
            @apply m-auto  max-w-container ;
            padding: 0 1.2rem;
            .site-main{
                @apply pb-10;
                .woocommerce-breadcrumb{
                    
                    @apply py-2 border-b border-gray-300 text-dark   ;
                    a{
                        @apply text-title  ;

                    }
                }
              
                & > .type-product{
                    @apply grid grid-cols-3 gap-5 mt-5;
                    .onsale{
                        @apply absolute py-1 px-2 bg-primary-500 text-white ;

                    }
                    .images{
                        @apply col-span-3;
                        @screen sm{
                            @apply col-span-2;
                        } 
                        // #slider-prev, #slider-next{
                        //     @apply w-10 h-10 rounded-full border border-gray-300  ; 

                        // }
                    }
                    .summary{
                        @apply  col-span-3 ; 
                        @screen sm{
                            @apply col-span-1;
                         }
                         .price{ 
                            @apply my-0  block   text-title  ; 
                            
                            ins, del{
                                @apply  block  text-title no-underline ;   
                            }
                            
                            del{
                                @apply leading-3 mt-1  text-sm ;
                                span{
                                @apply   text-sm  text-title ;   
                                }
                            }
                            ins{
                                @apply mb-4 mt-4 leading-4 text-lg; 
                                span{
                                    @apply   text-lg  text-title;
                                }
                            }
                            & > .woocommerce-Price-amount{ 
                                @apply mb-4 mt-4 block leading-4; 
                            }
                        }
                        .cart{
                            @apply inline-flex justify-around w-full items-center ;
                            .quantity{
                                .screen-reader-text{
                                    clip: rect(1px, 1px, 1px, 1px);
                                    -webkit-clip-path: inset(50%);
                                    clip-path: inset(50%);
                                    height: 1px;
                                    margin: -1px;
                                    overflow: hidden; 
                                    position: absolute;
                                }
                                .input-text {
                                    @apply w-20 mr-3 ;
                                    
                                }
                            } 
                            .single_add_to_cart_button{
                                @apply bg-primary-500 text-white   px-6 w-full ;
                            } 
                        }
                        .product_meta{
                            @apply  mt-3 ;

                        }
                      
                    }
                    .woocommerce-tabs {
                        @apply  col-span-3 ;  
                        @screen sm{
                            @apply col-span-2;
                        }
                        .tabs{
                            li{ 
                                @apply  border-b   border-gray-400    ;   
                                a{
                                    @apply relative py-4 block; 
                                    &::after{
                                        content: '';
                                        @apply  absolute right-0 w-5 h-5  ;   
                                        background-image: url(../svg/down.svg);
                                        background-size: 100%;
                                        background-position: right;
                                        background-repeat: no-repeat; 
                                        top: 18px; 
                                    }
                                }
                                &.active  a::after{ 
                                    transform: rotate(180deg);
                                }
                            }
                        }
                        .woocommerce-Tabs-panel--reviews{
                            .comment-reply-title{
                                @apply hidden  ; 

                            }
                            .comment-form-rating{
                                .stars{
                                    @apply my-1  ; 
                                    
                                }
                            }
                            .comment-form-comment{
                                @apply block mt-1 ; 

                                label{
                                    @apply block  ; 

                                }
                                textarea{
                                    @apply block mt-2 w-full ; 

                                }

                            }
                            #wp-comment-cookies-consent{
                                appearance: auto;
                            }
                            .comment-form-author, .comment-form-email{
                                input{
                                    @apply block mt-2 w-full ; 

                                }
                            }

                            .form-submit{
                                input[type="submit" i] { 
                                    @include btn   ;
                                    @apply   text-primary-500  #{!important} rounded-none cursor-pointer ;
                                    background-color: white;
                                    border: 1px solid $primary;
                                    
                                    &:hover{
                                        color: white;
                                        background-color: $primary;
                                    }
                                }
                            }
                           
                        }
                    }
                    .related{
                        @apply  col-span-3 ;  
                    }
                 }
            }
            
        }
    }
}
