.service{
    &-main{
        h1{
            @apply mt-6 mb-6 text-4xl text-black font-normal  ;
            @screen maxsm{
                @apply  text-xl mt-4; 
            }
        }
        p{
            @apply leading-normal m-0;
            font-size: 1.4rem;
            @screen maxsm{
                @apply   mt-4;
                font-size: 1rem; 
            }
        }
        img{
            @apply w-full;  
        }
        & .card-price{
            margin-top: 4.2rem;
            max-width:380px;
            @screen maxsm{
                margin-top: 3.8rem; 
             }
        }
        .wp-block-buttons .wp-block-button{ 
            @apply w-full;
            max-width: 380px;
            @screen maxsm{
                @apply text-center;
             }
        }
        .wp-block-button__link{
            @apply bg-primary-500 tracking-widest w-full text-black font-semibold text-base py-5 px-4 rounded-full inline-block ;
            max-width: 380px;
            @screen maxsm{
              @apply py-4 px-4;
              max-width: 230px;
            }
            &:focus{
                @apply shadow-outline  outline-none;
            }
        }
       
    }
}

// Ocultando componentes de vimeo
.player .vp-title .vp-title-header { 
    opacity: 0 !important;
}
.vp-sidedock {
    opacity: 0;
}
.vimeography-theme-harvestone{
    display: none;
}
.show-video{
    display: block !important;
}
